* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Nunito", sans-serif;
    font-family: "Roboto Condensed", sans-serif;
    background-color: rgb(255, 255, 255);
}
.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
}

nav {
    position: sticky;
    top: 0;
    height: 60px;
    background-color: royalblue;
    text-align: center;
    z-index: 10;
}

main {
    margin: 70px 0;
}
section{
    scroll-margin-top: 80px;
}
html{
    scroll-behavior: smooth;
}
.hero-text-lower {
    position: absolute;
    top: 73%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    color: #ddd;
    text-shadow: 3px 3px 5px black;
}
.hero-text-lower h3 {
    text-transform: uppercase;
}

/*----------------------------  Class  ---------------------------- */

.hero-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.logo-bg {
    position: absolute;
    height: 60px;
    width: 100px;
    z-index: 5;
}
.logo {
    display: block;
    padding: 4px 8px;
    line-height: 60px;
    font-size: 1.1em;
    color: #ddd;
    font-weight: bold;
    text-decoration: overline double;
    text-shadow: 2px 2px 5px black;
    transition: 0.3s;
}
.logo:hover {
    transform: scale(0.9);
    transition: cubic-bezier(-0.77, 0, 0.175, 1);
}

.burger-icon {
    display: block;
    margin-left: auto;
    padding: 0 30px;
    line-height: 60px;
    font-size: 30px;
    color: #ddd;
    background: none;
    border: none;
    transition: color 0.3s, transform 0.4s;
    cursor: pointer;
}
.burger-icon:hover {
    color: rgb(12, 4, 121);
    transform: rotate(180deg) translateY(5%);
}
.nav-items {
    display: none;
}

.header {
    position: relative;
    height: 330px;
    background-size: cover;
    background-position: center;
    background-image: url(../img/bed.jpg);
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    color: #ddd;
    text-shadow: 3px 3px 5px black;
}
.hero-lot {
    text-transform: uppercase;
    color: royalblue;
}

.hero-btn {
    position: absolute;
    left: 50%;
    top: 80%;
    padding: 10px 20px;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.144);
    color: rgba(221, 221, 221, 0.788);
    border: 1.9px solid rgba(221, 221, 221, 0.788);
    font-size: 15px;
    border-radius: 19px;
    transition: font-size 0.3s;
    cursor: pointer;
}
.hero-btn:hover {
    background-color: rgba(65, 105, 225, 0.733);
    font-size: 19px;
}

.section-title {
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
.about-us-info {
    margin: 20px;
    text-align: center;
}

.products {
    margin: 60px auto;
}
.product {
    position: relative;
    margin: 0px auto;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.first-product {
    background-image: url(../img/1.jpg);
    background-position: 80% 80%;
}
.second-product {
    background-image: url(../img/2.jpg);
    background-position: 40% 40%;
}
.third-product {
    background-image: url(../img/3.jpg);
    background-position: 40% 40%;
}
.fourth-product {
    background-image: url(../img/4.jpg);
    background-position: 60% 60%;
}

.y{
    text-align: center;
    margin: 60px auto;
}
.y h2{
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 13px;
    font-size: 34px;
    padding-top: 20px;
    padding-bottom: 60px;
}
.y h2 span{
    font-size: 55px;
    color: royalblue;
}

.yt1{
    height: 500px;
    width: 100%;
}
.contact{
    text-align: center;
    
}
.contact h3{
    margin: 20px 0 10px;
    text-transform: uppercase;
}

footer{
    padding: 30px 10px;
    text-align: center;
    color: white;
    background-color: rgb(83, 83, 83);
}
footer span{
    font-size: 17px;
    color: royalblue;
    font-weight: bold;
    text-shadow: 3px 3px 5px black;
    text-decoration: overline double;
}
/*------------------------------ Media---------------------------- */

@media (min-width: 768px) {
    .burger-icon {
        display: none;
    }
    .nav-items {
        display: block;
        padding: 20px;
    }
    .nav-items a {
        padding: 0px 40px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        color: #ddd;
        transition: 0.3s;
    }
    .nav-items a:hover {
        color: rgb(12, 4, 121);
        text-decoration: overline;
    }
    .header {
        height: 400px;
    }
    .hero-text {
        font-size: 30px;
    }
    .hero-btn {
        border: 2.2px solid rgba(221, 221, 221, 0.788);
        font-size: 20px;
    }
}
@media (min-width: 1100px) {
    .header {
        height: 480px;
    }
    .hero-text {
        font-size: 44px;
    }
    .logo {
        font-size: 1.7em;
        padding: 5px 20px;
    }
    .hero-btn {
        padding: 10px 60px;
        font-size: 20px;
    }
    .hero-text-lower {
        position: absolute;
        top: 73%;
        left: 35%;
        transform: translate(-50%, -50%);
        font-size: 21px;
        color: #ddd;
        text-shadow: 3px 3px 5px black;
    }
    .products-box{
        font-size: 0;
    }
    .product{
        display: inline-block;
        width: 50%;
    }
}
